.wcu-section {
  width: 100%;
  max-width: var(--max-width);
  padding: clamp(2rem, 4vw, 8rem) clamp(1rem, 3vw, 4rem);
  margin-inline: auto;

}


.wcu-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}


/* ── LEFT ── */
.wcu-left {
  /* background-color: rgb(160, 151, 151); */
}

.wcu-overline {
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #e85d04;
  margin-bottom: 12px;
  display: block;
}

.wcu-heading {
  font-family: 'Barlow', sans-serif;
  font-size: clamp(30px, 3.8vw, 46px);
  font-weight: 800;
  color: #1a1a1a;
  line-height: 1.1;
  margin-bottom: 32px;
}

.wcu-truck-wrapper {
  width: 100%;
  height: 100%;
}

.wcu-truck-img {
  width: 100%;
  height: 100%;
  max-width: 530px;
  display: block;
}

/* ── RIGHT ── */
.wcu-right {
  display: flex;
  flex-direction: column;
}

.wcu-feature {
  display: grid;
  grid-template-columns: 58px 1fr;
  gap: 0 14px;
  align-items: start;
  padding: 22px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
  position: relative;
}

.wcu-feature:last-child {
  border-bottom: none;
}

.wcu-feat-num {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 46px;
  font-weight: 900;
  color: rgba(0, 0, 0, 0.09);
  line-height: 1;
  letter-spacing: -1px;
  padding-top: 1px;
}

.wcu-feat-body {}

.wcu-feat-title {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 13.5px;
  font-weight: 800;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #1a1a1a;
  margin-bottom: 5px;
}

.wcu-feat-desc {
  font-size: 12.5px;
  line-height: 1.65;
  color: #999;
  max-width: 310px;
}

/* Responsive */
@media (max-width: 720px) {
  .wcu-container {
    display: flex;
    flex-direction: column;
    gap: 32px 0;
    padding: 0 24px;
  }

  .wcu-truck-wrapper {
    width: 100%;
    margin-left: 0;
  }

  .wcu-bg-numbers {
    display: none;
  }
}